<!DOCTYPE web-app PUBLIC
        "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
        "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
    <display-name>Archetype Created Web Application</display-name>

<!--    <servlet>-->
<!--        <servlet-name>calc</servlet-name>-->
<!--        <servlet-class>api.Calc</servlet-class>-->
<!--        <init-param>-->
<!--            <param-name>sqlLink</param-name>-->
<!--            <param-value>jdbc:mysql://localhost:3306</param-value>-->
<!--        </init-param>-->
<!--        <init-param>-->
<!--            <param-name>sqlPassword</param-name>-->
<!--            <param-value></param-value>-->
<!--        </init-param>-->
<!--    </servlet>-->
<!--    <servlet-mapping>-->
<!--        <servlet-name>calc</servlet-name>-->
<!--        <url-pattern>/calc</url-pattern>-->
<!--    </servlet-mapping>-->
</web-app>
